.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    border: 5px;
    border-color: black;
    border-style: ridge;
    background-color: grey;
    width: 500px;
    height: 400px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px;
    border-color: black;
    border-style: ridge;
    background-color: antiquewhite;
    margin: 15px;
    height: auto;
}

/*.operationDisplay {
    display: flex;
    justify-content: right;
    font-size: x-large;
    font-weight: bolder;
    margin-right: 10px;
}*/

.resultantDisplay {
    display: flex;
    justify-content: right;
    font-size: medium;
    margin-right: 10px;
}
.buttons {
    display: flex;
    justify-content: space-evenly;
    margin: 15px;
}

.numpad {
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;


}

.functions {
    display: grid;
    gap: 3px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

.number, .operator, .auxiliary {
    height: 50px;
    width: 50px;
}

